body{
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 15px;
    text-align: center;
    width: 330px;
    word-break: break-word;
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.13);
}

#img-up{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
h1{
    font-weight: 900;
    font-size: 25px;
    color: hsl(223, 47%, 23%);
}

p{
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    padding: 0 30px
}

.inf-con{
    border-radius: 10px;
    background: hsl(225, 100%, 98%);
    width: 250px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text2{
    width: 110px;
    text-align: left;
}

#text-1{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

#text-2{
    color: hsl(224, 23%, 55%);
    font-size: 14px;
}

.text3{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    font-weight: 700;
}
.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

#button-top{
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    border: none;
    width: 270px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.199);;
}

#button-down{
    border: 1px solid black;
    color:hsl(224, 23%, 55%);
    background-color: white;
    border: none;
    width: 270px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 700;
}

@media screen and (min-width: 376px){
    body{
        background-image: url("images/pattern-background-desktop.svg");
    }

    .container{
        height: 580px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

@media screen and (min-width: 376px){
    body{
        background-image: url("images/pattern-background-desktop.svg");
        background-size: cover;
    }
}